<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Blogs By Anurag</h1>
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="HORIZONTAL" data-vanity="manurag1" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/manurag7?trk=profile-badge">Anurag Mishra</a></div>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success btn-lg'%>
  </div>
</div>
