<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright & <%= link_to 'Anurag Mishra', "https://anurag-articles.herokuapp.com", class: 'text-white' %></small>
  </div>
</footer>
